superduper-framework==0.3.0
superduper_mongodb==0.0.3
superduper_sentence_transformers==0.0.2
superduper==1.0.1
superduper_anthropic==0.0.2
streamlit
streamlit-authenticator
unstructured[pdf]~=0.15.8
opencv-python-headless==4.8.0.74
python-dotenv
click
tqdm
pandas
pdf2image